/* resets */
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

button:focus {
    outline: 0;
}



/* page styles */ 

:root {
    --black: rgb(27, 26, 26);
    --grey: rgb(180, 179, 179);
    --white: rgb(243, 243, 243);
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    background-color: var(--grey);
    font-family: Helvetica, sans-serif;
}

.game-information-text {
    text-align: center;
    font-size: 2.5rem;
    color: var(--black);
    user-select: none;
    white-space: pre;
}

#shapes-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.button {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: var(--white);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(60, 57, 235);
}

.button:focus {
    border: 3px solid black;
}

.button:active {
    transform: scale(1.05);
}

.active {
    transform: scale(1.05);
}

.game-shape {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 1.5rem;
}

.game-shape > img {
    width: 50%;
    height: 50%;
}

#play-again-button {
    font-size: 2.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.hidden {
    /* important is used because element can have more spesific
    selectors defining display property */
    display: none !important;
}

#scoreboard {
    position: fixed;
    top: 10%;
    display: flex;
    gap: 2rem;
}

.score {
    text-align: center;
    font-size: 2.5rem;
}